<div fxLayout="row" width=100%>
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon (click)="IsdisplayNavBar()">menu</mat-icon>
      </button>
      <img src="../../../assets/keep.svg">
      <h1 class="example-app-name">Fundoo</h1>
      <mat-card class="input-card">
        <mat-icon>search</mat-icon>
        <div class="input-feild">
          <input type="search" placeholder="search">
        </div>
      </mat-card>
      <img class="list" src="../../../assets/listview.svg">
    </mat-toolbar>

    <div fxLayout="column" fxLayoutAlign="space-around start" *ngIf="!displayNavBar" style="width: 20px;">
      <div fxFlex.xs="90" style="width: 20px;">
        <div fxFlex="10%" style="width: 20px;">
          <span>
          <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
          <mat-icon class="material-icons-outlined">notifications</mat-icon>
          <mat-icon class="material-icons-outlined">edit</mat-icon>
          <mat-icon class="material-icons-outlined">archive</mat-icon>
          <mat-icon class="material-icons-outlined">delete</mat-icon>
          </span>
        </div>
      </div>
    </div>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56" style="display: flex; flex-direction: row;">
        <div fxLayout="column">
          <div class="colour">
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
              <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
              <mat-nav-list style="width:200px;" class="material-icons-outlined">Note</mat-nav-list>
            </div> 
          </div>
          <div class="colour">
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
              <mat-icon class="material-icons-outlined">notifications</mat-icon>
              <mat-nav-list style="width:200px;" class="material-icons-outlined">Reminder</mat-nav-list>
            </div> 
          </div>
          <div class="colour">
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
              <mat-icon class="material-icons-outlined">edit</mat-icon>
              <mat-nav-list style="width:200px;" class="material-icons-outlined">Edit</mat-nav-list>
            </div> 
          </div>
          <div class="colour">
              <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
                <mat-icon class="material-icons-outlined">archive</mat-icon>
                <mat-nav-list style="width:200px;" class="material-icons-outlined">Archive</mat-nav-list>
              </div> 
          </div>
          <div class="colour">
            <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
              <mat-icon class="material-icons-outlined">delete</mat-icon>
              <mat-nav-list style="width:200px;" class="material-icons-outlined">Trash</mat-nav-list>
            </div> 
          </div>
        </div>
   
        <!-- <div fxLayout="column" class="pooja2">
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
            <mat-icon class="material-icons-outlined">notifications</mat-icon>
          <mat-nav-list style="width:200px;" class="material-icons-outlined">Reminder</mat-nav-list>
          </div> 
          </div> -->
        <!-- <div fxLayout="row" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
          <mat-icon class="material-icons-outlined">notifications</mat-icon>
          <mat-nav-list style="width:200px;" class="material-icons-outlined">Reminder</mat-nav-list>
        </div>
      </div> -->
        <!-- <div fxLayout="column" fxLayoutAlign="start start" fxFlex.xs="90" fxFlex="10%">
          <mat-icon class="material-icons-outlined">emoji_objects</mat-icon>
          <mat-icon class="material-icons-outlined">notifications</mat-icon>
          <mat-icon class="material-icons-outlined">edit</mat-icon>
          <mat-icon class="material-icons-outlined">archive</mat-icon>
          <mat-icon class="material-icons-outlined">delete</mat-icon>
        </div>

        <div fxLayout="column" class="icons" fxLayoutAlign="start start" fxFlex.xs="90">
          <mat-nav-list style="width:200px;" class="material-icons-outlined">Note</mat-nav-list>
          <mat-nav-list style="width:200px;" class="material-icons-outlined">Reminder</mat-nav-list>
          <mat-nav-list style="width:240px; " class="material-icons-outlined">Edit labels</mat-nav-list>
          <mat-nav-list style="width:240px;" class="material-icons-outlined">Archive</mat-nav-list>
          <mat-nav-list style="width:240px;" class="material-icons-outlined">Trash</mat-nav-list>
        </div> -->
      </mat-sidenav>
    </mat-sidenav-container>   
  </div>
</div>
<div style="margin-top: 90px; margin-right: 100px;">
<router-outlet></router-outlet>
</div>