.example-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container {
  position: fixed;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.mat-list-option[aria-selected="true"] {
  background-color: #feefc3;
}

.mat-list-option:hover {
  background-color: rgba(0, 0, 0, .2);
}

.example-toolbar{
  background-color: transparent;
}
.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

.input-card {
  width: 47vw;
  height: 3vh;
  margin-left: 4vw;
  transition: none !important;
  box-shadow: none !important;
  background-color: #f1f3f4;
}

.input-feild {
  width: 44.6vw;
  margin-top: -40px;
  padding-left: 35px;
}

.input-feild input {
  width: 80%;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: lighter;
  background-color: transparent;
}
.material-icons-outlined{
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}

// .material-icons-outlined:hover{
//   background-color: burlywood;
// }
.colour:hover{
  background-color: rgb(198, 218, 228);
  border-radius: 20px;
}


.list{
  margin-left: 150px;
  margin-right: 20px;
}
.icons{
  padding-left: 8px;
}

// .material-icons-outlined:hover{
//   background-color: rgba(0, 0, 0, 0.453);
  
// }

img{
  margin-left: 10px;
}
h1.example-app-name {
  margin-left: 10px;
}

.example-sidenav-container {
  flex: 1;
  width: 240px;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.mat-list-base {
  padding-top: 3px !important;
}