<body fxLayout="row" fxLayoutAlign="center center">
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
      <form (ngSubmit)="forget()">
      <div class="header" fxLayout="column" fxLayoutAlign="center center">
        <div class="fundoo">
          <span class="f">F</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="O">o</span>
        </div>
        <h4 class="sub-header">Forgot Password</h4>
      </div>
      <div>
        <mat-form-field class="mail" appearance="outline">
          <mat-label>Recovery Email id</mat-label>
          <input matInput placeholder="Email" [formControl]="Email" autocomplete="off" required />
          <mat-error *ngIf="Email.invalid">
            {{getEmailErrorMessage()}}
        </mat-error>
        </mat-form-field>
      </div>
      <div class="inputfields1">
        <a class="sign" [routerLink]="['/reset']">Reset password</a>
        <button class="next" (click)="forget()">submit</button>
      </div>
    </form>
    </div>
  </body>
