<div fxLayoutAlign="center center" fxLayout="column">
    <mat-card (click)="reset=false" *ngIf="reset" class="view">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="note">
                <input type="text" placeholder="Take a note..">
                <mat-icon class="icon">create</mat-icon>
            </div>
        </div>
    </mat-card>
</div>
<div fxLayoutAlign="center center" fxLayout="column" style="margin-top: 25px;">
    <mat-card *ngIf="!reset" class="back-card">
        <div fxFlex="100" fxLayout="column" fxLayoutAlign="space-between center">
            <div class="note note1">
                <input matInput placeholder="Title" [formControl]="title" >
                <img src="../../../assets/pin.svg">
            </div>
            <div class="note note1">
                <input matInput placeholder="Take a note..." autofocus [formControl]="message">
            </div>
            <span  fxLayout.xs="row" fxLayoutAlign.xs="space-between center" fxLayout="row" fxLayoutAlign="space-between start" class="div">                                 
                <button type="submit" mat-button (click)="addNote()">close</button>
            </span>
        </div> 
    </mat-card>
</div>

