button {
  margin-left: 450px;
}

.note1 {
  padding-bottom: 15px;
}

img {
  margin-left: 250px;
}
.back-card:hover {
  box-shadow: 0 0 11px rgb(119, 118, 118);
}

.back-card {
  width: 500px;
}

.note input {
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: lighter;
  background-color: transparent;
}

.note1 input {
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: lighter;
  background-color: transparent;
}

.view {
  padding: 9px;
  border-radius: 10px;
  width: 500px;
  height: 30px;
}

.view:hover {
  box-shadow: 0 0 11px rgb(119, 118, 118);
}

.close {
  margin-left: 220px;
}

@media only screen and (max-width: 750px) {
  .view {
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .view {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .view {
    width: 250px;
  }
}

@media only screen and (max-width: 450px) {
  .view {
    margin-left: 30px;
  }
}
