<!-- <p>displaynotes works!</p> -->
  
<div fxLayout="row" fxLayoutAlign="start start" class="displaynote" fxLayout="row wrap">
    <mat-card *ngFor="let note of AllNotes" class="notes">
        <div>
            <div fxLayout="row">
                <div fxFlex="90" (click)="openDialog(note)">
                    <p class="wordBreakTitle"> {{note.title}}</p>
                </div>
                <div fxFlex="10">
                    <img src="../../../assets/pin.svg">
                </div>
            </div>
            <div>
                <p class="wordBreak"> {{note.message}} </p>
            </div>
        </div>
        <div class="div">
            <app-icons class="icon" [note]="note"></app-icons>
        </div>
    </mat-card>
</div>


