<!-- <p>displaynotes works!</p> -->
  
<div div fxLayout="row" fxLayoutAlign="start start" class="displaynote" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-card *ngFor="let note of AllNotes" class="notes">
        <div fxLayout="row">
           <p class="wordBreakTitle"> {{note.title}}</p>
           <img src="../../../assets/pin.svg">
        </div>
        <div>
            <p class="wordBreak"> {{note.message}} </p>
        </div>
        <div class="div" >
            <app-icons class="icon" [note]="note" [hidden]="!iconvisible" ></app-icons>
        </div>
    </mat-card>
</div>

