.displaynote{
    //width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 400px;
    padding: 30px 30px 30px 30px;
    // position: relative fixed;
    border-style: hidden;
    //border: 1px solid red;
}


.wordBreak {
    width: 250px;
    //height: 200px;
    word-break: break-all;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    //overflow: hidden;
    max-height: 15.5em;
}

.wordBreakTitle {
    width: 250px;
    //height: 200px;
    word-break: break-all;
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    display: block; 
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
  }

img{
    margin-left: 80px;
}

.notes{
    margin-right: 15px;
    margin-bottom: 0px;
    overflow: visible;
    position: relative;
    //height: 120px;
    width: 250px;
    
}

// @media screen and (max-width: 1040px){
//     .displaynote{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//         align-items: center;
//         margin-left: 300px;
//         margin-right: 400px;
//         padding: 30px 30px 30px 30px;
//         position: relative;
//     }

// }

@media screen and (max-width: 360px){
    .displaynote{
        margin-left: 100px;
    }
}

// @media screen and (max-width: 600px) {
//     .notes {
//       width: 600px;
//       position: relative;
//       border-radius: 10px;
//       overflow: hidden;
//     }
//   }