.container {
  border: 1px solid rgb(206, 201, 201);
  border-radius: 10px;
  padding: 25px 30px 25px 30px;
}

.f,
.d {
  color: blue;
}
.u,
.O {
  color: red;
}
.n {
  color: yellow;
}

.o {
  color: green;
}

.fundoo {
  font-size: xx-large;
}

.sub-header {
  margin-top: 15px;
}

// .child{
//     display: flex;
//     text-align: left;
//     justify-self: start;
//     margin-bottom: 5px;
// }

.mail {
  margin-top: 10px;
  width: 400px;
}

.password {
  width: 400px;
}

.sign {
  color: royalblue;
  margin-right: 255px;
  font-weight: bold;
}

.next {
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  padding: 8px 5px 8px 5px;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .mail {
    width: 300px;
  }
  .password {
    width: 300px;
  }
  .container {
    border: none;
  }

  .sign { 
    margin-right: 0px;
    margin-bottom: 15px;  
  }

  .inputfields1{
      display: flex;
      flex-direction: column;
  }
}
