
    
<body>  
  <div class="container">
    <div class="header">
      <h2>Fundoo</h2>
      <h3>Create your Fundoo Account</h3>
    </div>
    <div class="inputfields">
      <div class="mr">
        <mat-form-field appearance="outline">
          <mat-label>firstname</mat-label>
          <input matInput placeholder="FirstName">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>lastname</mat-label>
          <input matInput placeholder="LastName">
        </mat-form-field>
      </div>
    </div>
    <div class="inputfields">
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput placeholder="Email">
      </mat-form-field>
    </div>
    <div class="inputfields">
      <div class="mr">
        <mat-form-field appearance="outline">
          <mat-label>password</mat-label>
          <input matInput placeholder="Password">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>conformpassword</mat-label>
          <input matInput placeholder="ConformPassword">
        </mat-form-field>
     </div>  
    </div>
  </div>
</body>
    <!--<mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Firstname">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>-->

    
 
