<div fxLayout="row" fxLayoutAlign="center center" class="takeNote">
    <div  fxLayout='column' fxFlex='100' fxFlex.xs='98'>

      <div fxLayout="row" overflow="visible;">
        <div fxFlex="95" class="note1">
            <input matInput placeholder="Title" id="abc">
        </div>
        <!-- <div fxFlex="5">
          <span mat-icon-button matSuffix  matTooltip="pin">
            <img *ngIf="pin === true" src="../../../assets/unpin.svg">
            <img *ngIf="pin === false" src="../../../assets/pin.svg">
          </span>
        </div> -->
      </div>
  
      <div fxFlex="100" style="width: 500px" class="note1">
        <input matInput placeholder="Take a note..." autofocus id="xyz">
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
        <div fxFlex="60">
          <app-icons></app-icons>
        </div>
        <div>
          <button mat-icon-button matSuffix (click)='updateData()'>close</button>
        </div>
      </div>
    </div>
</div>
